[asterisk]
Driver = PostgreSQL
Description = PostgreSQL connection database
Server = ${DATABASE_CONTAINER_NAME}
Port = ${DATABASE_PORT}
Database = ${DATABASE_NAME}
UserName = ${DATABASE_USERNAME}
Password = ${DATABASE_PASSWORD}
Socket = /var/run/postgresql
