
<body style="background-color: #ffffff; font-family: 'HelveticaNeue,Helvetica,Arial,sans-serif';">
    <tbody>
        <tr>
           <td>
              <center style="width:100%">
                 <table class="8492347c6891bbe1deviceWidth" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" style="border-bottom-color:#cccccc;border-bottom-width:thin;border-left-color:#cccccc;border-left-width:thin;border-top-color:#cccccc;border-top-width:thin;margin-bottom:0 !important;margin-left:auto !important;margin-right:auto !important;margin-top:0 !important">
                    <tbody>
                       <tr>
                          <td style="padding:20px 20px 10px 20px">
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1;text-align:justify">Здравствуйте, <%= fio %> </p>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify"></p>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify">Ваша подписка истекает через <%= expiration_day %></p>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify">Если подписка не продлевается, лицензия деактивируется и прекращает работать.</p>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify">Продлите подписку как можно скорее!</p>
                             <ul style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify">
                                <li><b>Лицензионный ключ:</b> <%= license %></li>
                                <li><b>Срок действия до:</b> <%= expiration_date %></li>
                             </ul>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify">Если у вас возникли вопросы, ответьте на это письмо.</p>
                             <p style="color:#373737;display:block;font-family:sans-serif;font-size:14px;line-height:1.8;text-align:justify"> Компания OnVoip</p>
                          </td>
                       </tr>
                    </tbody>
                 </table>
              </center>
           </td>
        </tr>
     </tbody>
</body>