
<body style="background-color: #ffffff; font-family: 'HelveticaNeue,Helvetica,Arial,sans-serif';">
    <div style="background-color: #ffffff; border: 1px solid #eee; border-radius: 5px; box-shadow: 0 5px 10px rgba(20,50,70,.2); margin: 20px auto; width: 360px; padding: 68px 0 130px;">

        <p style="color: #0a85ea; font-size: 11px; font-weight: 700; font-family: 'HelveticaNeue,Helvetica,Arial,sans-serif'; height: 16px; line-height: 16px; margin: 16px 8px 8px 8px; text-transform: uppercase; text-align: center;">
            Verify Your Identity
        </p>

        <h2 style="color: #000; display: inline-block; font-family: 'HelveticaNeue-Medium,Helvetica,Arial,sans-serif'; font-size: 20px; font-weight: 500; line-height: 24px; margin: 0; text-align: center;">
            Enter the following code to finish verifying your identity
        </h2>

        <div style="background: rgba(0,0,0,.05); border-radius: 4px; margin: 16px auto 14px; width: 280px;">
            <p style="color: #000; display: inline-block; font-family: 'HelveticaNeue-Bold'; font-size: 32px; font-weight: 700; letter-spacing: 6px; line-height: 40px; margin: 0 auto; padding: 8px 0; text-align: center;">
            </p>
        </div>

        <p style="color: #444; font-size: 15px; font-family: 'HelveticaNeue,Helvetica,Arial,sans-serif'; line-height: 23px; padding: 0 40px; margin: 0; text-align: center;">
            Not expecting this email?
        </p>


    </div>

    <p style="color: #000; font-size: 12px; font-weight: 800; line-height: 23px; margin: 20px 0 0; font-family: 'HelveticaNeue,Helvetica,Arial,sans-serif'; text-align: center; text-transform: uppercase;">
        Securely powered by ServerBee.
    </p>
</body>